#mapOverlay {
  max-width: 1364px;
  height: 60vh;
  position: relative;
  transform: translate3d(-50%, 0, 0);
  left: 50%;
}

.ui.placeholder {
  position: absolute;
  z-index: 4;
  width: 100%;
  max-width: none;
}

.ui .pointing {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  transform: translate3d(0, -40%, 0);
  border: 1px solid rgb(29, 111, 197);
}

.ui .title {
  color: black;
  font-size: medium;
  text-align: center;
}

.ui .star {
  color: rgb(242, 92, 105);
  margin-top: 0.2rem;
  margin-right: -0.1rem;
}

.ui .body {
  font-weight: lighter;
  display: inline-block;
}
