.search {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 62%;
  top: 15px;
}

.search .container form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search .input_search {
  font-size: medium;
  padding-left: 1rem;
  border: 0;
  width: 100%;
  height: 45px;
  border-radius: 6px;
}

.search .btn {
  position: relative;
  background-color: #f25c69;
  border: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.search button i {
  cursor: pointer;
  color: white;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  top: 50%;
}

.search .container {
  border-radius: 6px;
  background-color: white;
  position: relative;
  width: 100%;
}

.search .container .search {
  color: grey;
}

input:focus {
  outline: none;
}

.search .container .container button {
  cursor: pointer;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  right: 2%;
  top: 50%;
  background-color: white;
  border: 0;
}
